.card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 5px;
}

.card .details {
  margin: 10px;
}

.card .details h2 {
  font-weight: 600;
}

.card .details p {
  text-transform: uppercase;
  font-weight: 300;
}
